body
 {
  font-family: B612;
  background-color: #f2f4f7
 }
 
.nav
 {
  width: 100%;
  background-color: #555;
  overflow: auto;
 }

.nav a
 {
  float: left;
  padding-left: 93px;
  padding-right: 93px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
 }

.nav a:hover
 {
  background-color: #000;
 }

.nav a.active
 {
  background-color: #ff0000;
 }

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px)
 {
  .nav a
   {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
   }
 }

ul
 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
 }

li
 {
  float: left;
 }

li a
 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 }

li a:hover:not(.active)
 {
  background-color: #111;
 }

.active
 {
  background-color: #4CAF50;
 }
 
 .container
  {
   font-size: 20px;
   top:20px;
   border-radius: 5px;
   background-color: white;
   padding-top: 15px;
   padding-bottom: 25px;
   text-align:center;
   width: 50%;
   box-shadow: 5px 8px 8px #888888;
  }

 input[type=text], select, textarea
  {
   width: 50%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
  }

 input[type=submit]
  {
   background-color: #ff0000;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 20px;
   width: 40%;
  }

 input[type=submit]:hover
  {
   background-color: #cc0c0c;
  }
  
footer
 {
  background-color:red;
  color:white;
 }